<div class="product">
  <a routerLink="products/{{ product.id }}">
    <img class="product__image" src="{{ product.url }}" />
  </a>
  <div class="details">
    <h1 class="product__name">{{ product.name }}</h1>
    <h2 class="product__price">$ {{ product.price }}</h2>
    <input
      type="number"
      value="{{ amount }}"
      class="product__quantity"
      name="productQty"
      id="cars"
      min="1"
      max="10"
      [(ngModel)]="amount"
      (ngModelChange)="onInputChange(amount)"
    />

    <button class="product__button" (click)="updateState(product)">
      Add to cart
    </button>
  </div>
</div>
